# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# Test outputs
data/results/*
data/test_results/*
received.txt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/